
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    /* Not sure for the below properties they may not work properly */
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#mypage{

    margin:0 0 0 0;
    padding:0 0 0 0;
    display: block;
}


#mykdr_nav{

    display: block;
    margin: 0;
    top: 0;
    position: fixed;
    z-index: 10000;
    width : 100%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 1px solid #5B3930;

}

#bannerdiv{
    display: block;
    overflow: hidden;
    width:100%;

    /*border-bottom: 0.3vh solid #1c1c1c;*/
}

.footer{

    width: 100%;
    height: 10vh;
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, rgba(37,126,125,1) 0%, rgba(40,176,176,1) 65%, rgba(38,209,170,1) 100%);
    bottom: 0;

}

.mylogocap{
    color: #4b3930 !important;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Segoe UI Semibold';
    text-decoration: wavy !important;
}
.mylogocap:hover{
    text-decoration: wavy !important;
}
.mylogocap:active{
    text-decoration: wavy !important;
}


#english {
    display: none;
    color: #E6E6FA !important;
}
#malayalam {
    display: none;
    color: #E6E6FA !important;
    font-weight: bold;
}
#english:hover,#malayalam:hover,#english:hover>i, #malayalam:hover>label{
    color: #FF6347 !important;
}

#english>i{
    color: #FF6347;
    display: inline-block;
    font-size: larger;
}
#malayalam>label {
    font-weight: bolder;
    color: #FF6347;
    display: inline-block;
    font-size: larger;
}

.pagebanner{
    border-bottom: 1px solid #1c1c1c;
}

#mykdr_menu>li{
    font-family: "Segoe UI Semibold";
    font-weight: bolder;
    text-transform: uppercase;
}


#mykdr_menu>li:hover>a {
    color: #228B22;
}
#mykdr_menu>li>a:hover {
    text-decoration: wavy !important;

}
#mykdr_menu>li>a:active {
    text-decoration: wavy !important;

}

#language{
    background-color: #34495E !important;
}

#langmenu {
    color: #E6E6FA !important;
}
#langmenu:hover,#langmenu>i {
    color: #00BFFF !important;
}
#language:hover>#langmenu {
    color: #00BFFF !important;
}

#alertlang {
    display: block;
    position: fixed;
    z-index: 9999;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    opacity: 0.93;
}

#feedback:hover>a, #feedback:hover>a>i {
    color: #C71585 !important;
    text-decoration: wavy;
}

#mykdr_menu>li>a{
    color: #5b3930;
    cursor: pointer;
}

#alertlang {
    display: none;
}


@media(max-width: 300px){


}


@media (max-width: 1080px){

    #mykdr_menu>li:hover {

        background-color: rgba(08,08,08,0.1);
    }

    #language{
        width: 100% !important;
    }


    @media (orientation: portrait) {

        #mykdr_nav{
            top: 0;
            height: 8vh;
            margin: 0;

        }

        #non-nav{
            margin-top: 8vh;
            padding: 0;
            display: block;
        }



        .bannermob {

            width: 100%;
            height: 92vh;

        }

        #mykdr_logo {


            color: #1c1c1c;
            height: 8vh;
            width: 100%;
            line-height: 8vh;
            cursor: pointer;
            display: block;
            float: left;
            position: relative;
            padding: 0;
            margin: 0;
        }

        .mylogo{
            display: inline-block;
            height: 6.5vh;
            width: 6.9vh;
            position: relative;
            margin: 0 -2px 2.5vh 0;
            padding: 0 0 0 0;
        }

        .mylogocap{

            display: inline-block;
            /*font-family: "Arial Rounded MT Bold" !important;*/
            font-size: 5.2vh;
            cursor: pointer;
            padding: 0 0 0 0;
        }

        #mymenuglyph{

            display: inline-block;
            font-size: 5vh;
            color: #1c1c1c;
            cursor: pointer;
            float: right;
            padding: 0.5vh 0 0 0;
        }

        #closenav{
            display: none;
            font-size: 5vh;
            color: #1c1c1c;
            cursor: pointer;
            float: right;
            padding: 0.8vh 0 1vh 0;
        }

        #mykdr_menu{

            display: none;
            position: fixed;
            width: 100%;
            height: 92vh;
            background-color: rgba(220,215,215, 0.9);
            margin: 0;
            padding: 0;
            left: 0;
            top: 8vh;
        }

        #mykdr_menu>li{

            display: block;
            position: relative;
            width: 100%;
            height: 9vh;
            line-height: 9vh;
            font-size: 3.5vh;
            color: #fafafa;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            margin: 0;

            /*border-bottom: solid 1px rgba(08,08,08,0.7);*/
        }

        #english, #malayalam{
            width: 48%;
            margin: auto;
            font-size: 3.2vh;
        }

        #alertlang{
            top: 8vh;
            width: 100vw;
            height: 8vh;
            line-height: 100%;
            font-size: 5vw;
        }

        .pagebanner
        {
            width: 100%;
            height: auto;
        }

    }


    @media (orientation: landscape) {

        #mykdr_nav{

            top: 0;
            height: 12vh;
            margin-top: 0;

        }

        #non-nav{
            margin-top: 12vh;
            padding: 0;
            display: block;
        }

        .bannerpc {

            width: 100%;
            height: 88vh;

        }

        #mykdr_logo {


            color: #1c1c1c;
            height: 12vh;
            width: 100%;
            line-height: 12vh;
            cursor: pointer;
            display: block;
            float: left;
            position: relative;
        }

        .mylogo{

            display: inline-block;
            height: 9.4vh;
            width: 10vh;
            position: relative;
            margin: 0 0 2.5vh 0;
            margin-right: -2px;
        }

        .mylogocap{

            display: inline-block;
            font-size: 7vh;
            cursor: pointer;
            padding: 0 0 0 0;
        }

        #mymenuglyph{

            display: inline-block;
            font-size: 7vh;
            color: #1c1c1c;
            cursor: pointer;
            float: right;
            padding-top: 0.3vh;
        }

        #closenav{

            display: none;
            font-size: 7vh;
            color: #1c1c1c;
            cursor: pointer;
            float: right;
            padding-top: 0.4vh;
        }


        #mykdr_menu{

            display: none;
            position: fixed;
            width: 100%;
            height: 88vh;
            background-color: rgba(220,215,215, 0.9);
            padding: 0;
            left: 0;
            top: 12vh;
        }

        #mykdr_menu>li{

            display: inline-block;
            position: relative;
            width: 49.5%;
            height: 14vh;
            line-height: 14vh;
            color: #fafafa;
            text-align: center;
            margin: 0 auto;
            padding: 0;

            /*border-bottom: solid 1px rgba(08,08,08,0.7);*/
        }
        #mykdr_menu>li>a{
            font-size: 5vh;
        }
        #mykdr_menu>li>i{
            font-size: 5vh;
        }

        #english, #malayalam{
            width: 49%;
            margin: auto;
        }

        #alertlang{
            top: 12vh;
            width: 100vw;
            height: 12vh;
            line-height: 100%;
            font-size: 3vw;
        }

        .pagebanner
        {
            width: 100%;
            height: auto;
        }


    }

}




@media (min-width: 1080px) {

    #mykdr_nav{

        height: 8vh;

    }

    #non-nav{
        margin-top: 8vh;
        padding: 0;
        display: block;
    }


    #mykdr_logo {


        color: #1c1c1c;
        height:6.5vh;
        line-height: 6.5vh;
        padding: 1vh 0 0 0;
        cursor: pointer;
        margin: auto;
        display: inline-block;

    }

    .mylogo{


        margin-right: -4px;
        height: 5.5vh;
        margin-bottom: 1.5vh;
    }

    .mylogocap{

        font-size: 1.8vw;
    }


    #mykdr_menu{

        line-height: 6.5vh;
        height: 6.5vh;
        display: inline-block;
        margin: auto;
        float: right;
        margin-top: 1vh;
    }

    #mykdr_menu>li{

        font-size: 1.1vw;
        display: inline-block;
        margin-left: 0.7vw ;
        line-height: 4.8vh ;
        padding: 2px 2px 2px 2px;

    }

    /*#home,#locality,#culture,#services,#trending,#events,#feedback,#about {  }*/

    #language{
        margin-bottom: 1vh;
        border-radius: 6px;
        cursor: pointer;
    }


    #bannerdiv{

        height:92vh;

    }

    .bannerpc{
        width: 100%;
        height: 92vh;

    }

    #mymenuglyph{

        display: none;
    }

    #closenav {

        display: none!important;
    }

    #alertlang{
        top: 8vh;
        width: 25vw;
        height: 10vh;
        line-height: 7vh;
        font-size: large;
        right: 0;
    }


    .pagebanner
    {
        width: 100%;
        height: auto;
    }
}