
<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav" ng-controller="mainController">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <img class="mylogo" src="images/mykdrpng.png" href="#" alt="www.mykoduvayur.in" />

                <a class="mylogocap" href="#">MYKODUVAYUR</a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-bars"></i></label>
                <label ng-click="closed()" id="closenav"><i class="glyphicon glyphicon-remove"></i></label>
            </div>

            <ul id="mykdr_menu">
                <li id="language">
                    <a ng-click="langselect()" id="langmenu">&nbsp;<i class="fa fa-language"></i> LANGUAGE &nbsp; </a>
                    <a ng-click="eng()" id="english">&nbsp;<i class="fa fa-buysellads"></i> ENGLISH&nbsp;</a>
                    <a ng-click="mal()" id="malayalam">&nbsp;<label>മ</label> മലയാളം&nbsp;</a>
                </li>
                <li ng-click="menuload()" id="home"><a href="#home"><i class="fa fa-home"></i> HOME</a></li>
                <li ng-click="menuload()" id="locality"><a href="#locality"><i class="fa fa-map"></i> LOCALITY</a></li>
                <li ng-click="menuload()" id="culture"><a href="#culture"><i class="fa fa-bell"></i> CULTURE</a></li>
                <li ng-click="menuload()" id="services"><a href="#services"><i class="fa fa-rupee"></i> SERVICES</a></li>
                <li ng-click="menuload()" id="trending"><a href="#trending"><i class="fa fa-hashtag"></i> TRENDING</a></li>
                <li ng-click="menuload()" id="events"><a href="#events"><i class="fa fa-calendar"></i> EVENTS</a></li>
                <li ng-click="menuload()" id="feedback"><a href="#feedback"><i class="fa fa-comments"></i> FEEDBACK</a></li>
                <li ng-click="menuload()" id="about"><a href="#about"><i class="fa fa-universal-access"></i> ABOUT US</a></li>
                <li id="mobshare">
                    <a id="mobfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
                    <a id="mobplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
                    <a id="mobtweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
                    <a id="mobwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>

        <div id="alertlang" class="alert alert-success" role="alert">
            <a href="" class="close" aria-label="close" ng-click="alertClose()">×</a>
            Selected Language: <strong>{{myLang}}</strong>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav">

        <img class="pagebanner" src="./images/covers/culture.jpg" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12" id="adslot1_mob">
                    <div></div>
                </div>

                <div class="col-md-12" id="intro">
                    <h1>INTRODUCTION<i class="fa fa-pencil-square-o"></i></h1>
                    <p>The lifestyle and traditions of people varies for each locality and community of people, here in Koduvayur. This Cultural Diversity results in numerous festivals to celebrate. Koduvayur Radholsavam is a Special Occasion for everyone here, regardless of their religion, gender, caste or age. From Eid, Easter and Onam to a number of other Regional Festivals spread around like the Ethanur Kummaty, Ganeshotsavam or Navarathri, there is something to celebrate each time of the year. This page throws light upon the Religious Places of Worship and the details of all the important festivals that are celebrated in and around Koduvayur.</p>
                </div>

                <div class="col-md-12" id="religious">
                    <h1>RELIGIOUS PLACES<i class="glyphicon glyphicon-bell"></i></i></h1>

                    <div class="col-md-3 panelcol panel panel-default">
                        <div class="panel-body panelcontent">
                            <img src="./images/thumbs/02.jpg" class="panelimg" alt="test"></img>
                        </div>
                        <div data-toggle="collapse" data-target="#temples" class="panel-footer panelname">TEMPLES</div>
                    </div>
                    <div id="temples" class="col-md-12 collapse">
                        <div class="label-warning categoryhead">TEMPLES IN KODUVAYUR</div>
                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>
                    </div>

                    <div class="col-md-3 panelcol panel panel-default">
                        <div class="panel-body panelcontent">
                            <img src="./images/thumbs/04.jpg" class="panelimg" alt="test"></img>
                        </div>
                        <div data-toggle="collapse" data-target="#mosques" class="panel-footer panelname">MOSQUES</div>
                    </div>
                    <div id="mosques" class="col-md-12 collapse">
                        <div class="label-success categoryhead">MOSQUES IN KODUVAYUR</div>
                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>
                    </div>

                    <div class="col-md-3 panelcol panel panel-default">
                        <div class="panel-body panelcontent">
                            <img src="./images/thumbs/07.jpg" class="panelimg" alt="test"></img>
                        </div>
                        <div data-toggle="collapse" data-target="#churches" class="panel-footer panelname">CHURCHES</div>
                    </div>
                    <div id="churches" class="col-md-12 collapse">
                        <div class="label-info categoryhead">CHURCHES IN KODUVAYUR</div>
                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" id="adslot2_mob">
                    <div></div>
                </div>

                <div class="col-md-12" id="calendar">
                    <h1>FESTIVE CALENDAR<i class="fa fa-calendar"></i></h1>
                </div>

                <div class="col-md-12" id="festivals">
                    <h1>FESTIVALS<i class="fa fa-snowflake-o"></i></h1>
                    <div class=" panel panel-default panelout">
                        <div class="panel-body">

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>

                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">TESTING THIS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <div></div>
            </div>

        </div>

    </div>

    <div class="col-md-12" id="footer" ng-controller="mainController">

        <p id="copyright">Team BehindBrains © 2017 Project MyKoduvayur.</p>

        <p id="follow">Follow Us On:
            <a href="https://www.facebook.com/MyKoduvayur-675861215918423/" ><i class="fa fa-facebook-official"></i></a>
        </p>

        <p id="pcshare">Share:
            <a id="pcfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
            <a id="pcplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
            <a id="pctweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
            <a id="pcwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
        </p>

    </div>

</div>
