
<div id="fb-root"></div>
<script type="text/javascript">
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav" ng-controller="mainController">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <img class="mylogo" src="images/mykdrpng.png" href="#" alt="www.mykoduvayur.in" />

                <a class="mylogocap" href="#">MYKODUVAYUR</a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-bars"></i></label>
                <label ng-click="closed()" id="closenav"><i class="glyphicon glyphicon-remove"></i></label>
            </div>

            <ul id="mykdr_menu">
                <li id="language">
                    <a ng-click="langselect()" id="langmenu">&nbsp;<i class="fa fa-language"></i> LANGUAGE &nbsp; </a>
                    <a ng-click="eng()" id="english">&nbsp;<i class="fa fa-buysellads"></i> ENGLISH&nbsp;</a>
                    <a ng-click="mal()" id="malayalam">&nbsp;<label>മ</label> മലയാളം&nbsp;</a>
                </li>
                <li ng-click="menuload()" id="home"><a href="#home"><i class="fa fa-home"></i> HOME</a></li>
                <li ng-click="menuload()" id="locality"><a href="#locality"><i class="fa fa-map"></i> LOCALITY</a></li>
                <li ng-click="menuload()" id="culture"><a href="#culture"><i class="fa fa-bell"></i> CULTURE</a></li>
                <li ng-click="menuload()" id="services"><a href="#services"><i class="fa fa-rupee"></i> SERVICES</a></li>
                <li ng-click="menuload()" id="trending"><a href="#trending"><i class="fa fa-hashtag"></i> TRENDING</a></li>
                <li ng-click="menuload()" id="events"><a href="#events"><i class="fa fa-calendar"></i> EVENTS</a></li>
                <li ng-click="menuload()" id="feedback"><a href="#feedback"><i class="fa fa-comments"></i> FEEDBACK</a></li>
                <li ng-click="menuload()" id="about"><a href="#about"><i class="fa fa-universal-access"></i> ABOUT US</a></li>
                <li id="mobshare">
                    <a id="mobfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
                    <a id="mobplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
                    <a id="mobtweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
                    <a id="mobwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>

        <div id="alertlang" class="alert alert-success" role="alert">
            <a href="" class="close" aria-label="close" ng-click="alertClose()">×</a>
            Selected Language: <strong>{{myLang}}</strong>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav">

        <img class="pagebanner" src="./images/covers/feedback.jpg" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12" id="adslot1_mob">
                    <div></div>
                </div>

                <div class="col-md-12" id="intro">
                    <h1>INTRODUCTION<i class="fa fa-pencil-square-o"></i></h1>
                    <p>This venture - MyKoduvayur, was planned and processed with the motive of making the Life better for the people in and from this place, using the Web Technology that is growing higher and reaching farther each passing day. So each one of you definitely have a say in here. Your opinions, suggestions and appreciations are a huge motivation for us to go forward and do further. We appreciate each of your support. </p>
                </div>

                <div class="col-md-12" id="haveyoursay">
                    <h1>HAVE YOUR SAY<i class="fa fa-quote-right"></i></h1>
                    <p> COMING SOON... </p>
                </div>

                <div id="feedbackspace" class="fb-comments" data-href="https://kriz815test.github.io/#/feedback" data-width="auto" data-numposts="10"></div>

                    <div class="col-md-12" id="adslot2_mob">
                    <div></div>
                </div>

            </div>

            <div class="col-md-2" id="adslot2_pc">
                <div></div>
            </div>

        </div>

    </div>

    <div class="col-md-12" id="footer" ng-controller="mainController">

        <p id="copyright">Team BehindBrains © 2017 Project MyKoduvayur.</p>

        <p id="follow">Follow Us On:
            <a href="https://www.facebook.com/MyKoduvayur-675861215918423/" ><i class="fa fa-facebook-official"></i></a>
        </p>

        <p id="pcshare">Share:
            <a id="pcfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
            <a id="pcplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
            <a id="pctweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
            <a id="pcwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
        </p>

    </div>


</div>
