
<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav" ng-controller="mainController">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <img class="mylogo" src="images/mykdrpng.png" href="#" alt="www.mykoduvayur.in" />

                <a class="mylogocap" href="#">MYKODUVAYUR</a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-bars"></i></label>
                <label ng-click="closed()" id="closenav"><i class="glyphicon glyphicon-remove"></i></label>
            </div>

            <ul id="mykdr_menu">
                <li id="language">
                    <a ng-click="langselect()" id="langmenu">&nbsp;<i class="fa fa-language"></i> LANGUAGE &nbsp; </a>
                    <a ng-click="eng()" id="english">&nbsp;<i class="fa fa-buysellads"></i> ENGLISH&nbsp;</a>
                    <a ng-click="mal()" id="malayalam">&nbsp;<label>മ</label> മലയാളം&nbsp;</a>
                </li>
                <li ng-click="menuload()" id="home"><a href="#home"><i class="fa fa-home"></i> HOME</a></li>
                <li ng-click="menuload()" id="locality"><a href="#locality"><i class="fa fa-map"></i> LOCALITY</a></li>
                <li ng-click="menuload()" id="culture"><a href="#culture"><i class="fa fa-bell"></i> CULTURE</a></li>
                <li ng-click="menuload()" id="services"><a href="#services"><i class="fa fa-rupee"></i> SERVICES</a></li>
                <li ng-click="menuload()" id="trending"><a href="#trending"><i class="fa fa-hashtag"></i> TRENDING</a></li>
                <li ng-click="menuload()" id="events"><a href="#events"><i class="fa fa-calendar"></i> EVENTS</a></li>
                <li ng-click="menuload()" id="feedback"><a href="#feedback"><i class="fa fa-comments"></i> FEEDBACK</a></li>
                <li ng-click="menuload()" id="about"><a href="#about"><i class="fa fa-universal-access"></i> ABOUT US</a></li>
                <li id="mobshare">
                    <a id="mobfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
                    <a id="mobplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
                    <a id="mobtweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
                    <a id="mobwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>

        <div id="alertlang" class="alert alert-success" role="alert">
            <a href="" class="close" aria-label="close" ng-click="alertClose()">×</a>
            Selected Language: <strong>{{myLang}}</strong>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav">

        <img class="pagebanner" src="./images/covers/trending.jpg" />

        <div class="col-md-12" id="content" ng-controller="trendingController">

            <div class="col-md-2" id="adslot1_pc">
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12" id="adslot1_mob">
                    <div></div>
                </div>

                <div class="col-md-12" id="alerts">
                    <h1>ALERTS<i class="fa fa-exclamation-triangle"></i></h1>
                    <div class="alert-success"><i class="fa fa-bullhorn"></i> This is the slot for alert 1..</div>
                    <div class="alert-info"><i class="fa fa-bullhorn"></i> This is the slot for alert 2..</div>
                    <div class="alert-danger"><i class="fa fa-bullhorn"></i> This is the slot for alert 3..</div>
                    <div class="alert-warning"><i class="fa fa-bullhorn"></i> This is the slot for alert 4..</div>
                </div>

                <div class="col-md-12" id="adslot2_mob">
                    <div></div>
                </div>

                <div class="col-md-12" id="trends">
                    <div class="col-md-12">
                        <div ng-click="news()" class="col-md-3 btn-primary" id="newshead"><i class="fa fa-newspaper-o"></i> NEWS</div>
                        <div ng-click="articles()" class="col-md-3 btn-warning" id="articleshead"><i class="fa fa-file-text-o"></i> ARTICLES</div>
                        <div ng-click="pictures()" class="col-md-3 btn-success" id="pictureshead"><i class="fa fa-picture-o"></i> PICTURES</div>
                        <div ng-click="videos()" class="col-md-3 btn-danger" id="videoshead"><i class="fa fa-play-circle"></i> VIDEOS</div>

                        <div class="col-md-12" ng-show="showNews" id="news">testing news</div>
                        <div class="col-md-12" ng-show="showArticles" id="articles">testing articles</div>
                        <div class="col-md-12" ng-show="showPictures" id="pictures">testing pictures</div>
                        <div class="col-md-12" ng-show="showVideos" id="videos">testing videos</div>
                    </div>
                </div>

            </div>

            <div class="col-md-2" id="adslot2_pc">
                <div></div>
            </div>

        </div>

    </div>

    <div class="col-md-12" id="footer" ng-controller="mainController">

        <p id="copyright">Team BehindBrains © 2017 Project MyKoduvayur.</p>

        <p id="follow">Follow Us On:
            <a href="https://www.facebook.com/MyKoduvayur-675861215918423/" ><i class="fa fa-facebook-official"></i></a>
        </p>

        <p id="pcshare">Share:
            <a id="pcfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
            <a id="pcplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
            <a id="pctweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
            <a id="pcwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
        </p>

    </div>

</div>
